@page
@model ESMS.Pages.AnnualLeave.EditModel
@using Pages.Shared
@{
    ViewData["Title"] = "Ndryshim i të dhënave";
}

<div class="card">
    <form method="post" enctype="multipart/form-data">
        <div class="card-body card-block">
            <h4> @Resource.LeaveRequest </h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.TypeOfLeaves)
                        @Html.DropDownListFor(m => m.Input.TypeOfLeaves, BaseModel.GetLeaveTypes(1), Resource.zgjedhe, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Input.TypeOfLeaves, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.StartDate)
                        @Html.TextBoxFor(m => m.Input.StartDate, new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(m => m.Input.StartDate, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.EndDate)
                        @Html.TextBoxFor(m => m.Input.EndDate, new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(m => m.Input.EndDate, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Input.Document)
                    <div class="btn-group w-100">
                        <button type="button" class="btn btn-secondary dropdown-toggle w-100" data-toggle="dropdown">@Resource.veprimet</button>
                        <div class="dropdown-menu">
                            <a href="Edit?handler=Document&LIDEnc=@Request.Query["LIDEnc"]" target="_top" class="dropdown-item btn btn-secondary"><i class="far fa-edit"></i>&nbsp; Shiko dokumentin aktual</a>
                            <a onclick="$('#Input_Document').trigger('click')" id="btnAttachContract" class="dropdown-item btn btn-secondary"> <i class="far fa-plus-square"></i>  &nbsp; Ngarko dokumentin e ri</a>
                            <input type="file" style="display:none" asp-for="Input.Document" class="form-control" />
                        </div>
                    </div>
                    <span class="text-danger" asp-validation-for="Input.Document"></span>


                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.Document)
                        <input type="file" style="display:none" asp-for="Input.Document" class="form-control" />
                        <button type="button" id="btnAttachContract" class="form-control btn btn-secondary" onclick="$('#Input_Document').trigger('click')">@Resource.attachDocument</button>
                        <span class="text-danger" asp-validation-for="Input.Document"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        @Html.LabelFor(m => m.Input.Comment)
                        @Html.TextAreaFor(m => m.Input.Comment, new { @class = "form-control", rows = "1" })
                        @Html.ValidationMessageFor(m => m.Input.Comment, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <label style="visibility:hidden" asp-for="Input.EndDate"></label>
                    <input type="submit" class="btn btn-primary w-100" value="@Resource.ruaj" />
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
        $('#Input_Document').change(function () {
        if ($(this).val() != null && $(this).val() != "") {
            $('#btnAttachContract').text($(this).val().replace(/C:\\fakepath\\/i, ''))
        } else {
            $('#btnAttachContract').text('@Resource.ngarkoKontraten')
        }
    })
</script>