@page
@model ESMS.Pages.Configurations._ListClaimsAuthorizationModel
@using ESMS.Security
@{
    Layout = null;
}
<div class="card-body card-block">
    <h4>@Resource.listAuthorizations</h4>
    <hr />
    <table id="tblListClaims" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>@Resource.rule</th>
                <th>@Resource.access</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.listOfClaims)
            {
                <tr>
                    @Html.AntiForgeryToken()
                    <td>
                        @item.vcClaimType
                    </td>
                    <td>
                        <label class="switch switch-3d switch-primary mr-3">
                            <input onchange="ChangePermission('@Confidenciality.Enkrypt(item.nPolicyId)')" type="checkbox" class="switch-input" @Html.Raw(item.vcAccess==true?"checked":"")/>
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>
                        </label>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblListClaims').DataTable({
            "lengthChange": false,
            "language": {
                "lengthMenu": "@Resource.dtlengthMenu",
                "zeroRecords": "@Resource.dtZeroRecord",
                "info": "@Resource.dtInfo",
                "infoEmpty": "@Resource.dtInfoEmpty",
                "infoFiltered": "@Resource.dtInfoFiltered",
                "search": "@Resource.dtSearch",
                "paginate": {
                    "previous": "@Resource.dtPrapa",
                    "first": "@Resource.dtFirst",
                    "last": "@Resource.dtLast",
                    "next": "@Resource.dtNext"
                }
            },
            responsive: true
        });
    })

    function ChangePermission(PEnc) {
        $.post("/Configurations/_ListClaimsAuthorization?handler=ChangePermission",
        {
            PEnc: PEnc,
            groupId: $('#groupiID').val(),
            __RequestVerificationToken: $('input[name="__RequestVerificationToken"]').val()
             }, function (response) {
            if (response.nError == 1) {
                Swal.fire({
                    icon: "success",
                    title: "@Resource.success!",
                    text: response.ErrorDescription
                }).then(t => {
                        $('#listOfPolicies').load('/Configurations/_ListClaimsAuthorization?groupId='+$('#groupiID').val())
                    })
            } else {
                Swal.fire({
                  icon: 'error',
                  title: '@Resource.error',
                  text: response.ErrorDescription
                })
            }
        
         })
    }
</script>