@page
@model ESMS.ListModel
@using System.Security.Claims
@using ESMS.Security
@{
    ViewData["Title"] = Resource.historikuPagave;
}

<div class="card">
    <div class="card-body card-block">
        <h4> @Resource.historikuPagave </h4>
        <hr />
        <div class="btn-group float-right">
            <button type="button" class="btn btn-secondary dropdown-toggle w-100" data-toggle="dropdown">@Resource.downloadList</button>
            <div class="dropdown-menu">
                <a href='List?handler=Report&f=1' target="_blank" class="dropdown-item btn btn-secondary"><i class="far fa-file-pdf"></i>&nbsp; PDF</a>
                <a href='List?handler=Report&f=2' target="_blank" class="dropdown-item"><i class="far fa-file-excel"></i>&nbsp; Excel</a>
                <a href='List?handler=Report&f=3' target="_blank" class="dropdown-item"><i class="far fa-file-word"></i>&nbsp; Word</a>
            </div>
        </div>
        @Html.AntiForgeryToken()
        <table id="table" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>@Resource.emri</th>
                    <th>@Resource.mbiemri</th>
                    <th>@Resource.paga</th>
                    <th>@Resource.muaji</th>
                    <th>@Resource.data</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.payments)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>@item.Salary</td>
                        <td>@item.Month</td>
                        <td>@item.ExecutionDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "lengthChange": false,
            "language": {
                "lengthMenu": "@Resource.dtlengthMenu",
                "zeroRecords": "@Resource.dtZeroRecord",
                "info": "@Resource.dtInfo",
                "infoEmpty": "@Resource.dtInfoEmpty",
                "infoFiltered": "@Resource.dtInfoFiltered",
                "search": "@Resource.dtSearch",
                "paginate": {
                    "previous": "@Resource.dtPrapa",
                    "first": "@Resource.dtFirst",
                    "last": "@Resource.dtLast",
                    "next": "@Resource.dtNext"
                }
            },
            responsive: true
        })
    })
</script>

@if (Model.error != null)
{
    <script>
        $(document).ready(function (){
            showAlert(@Model.error.nError, '@Html.Raw(Model.error.ErrorDescription)')
        })
    </script>
}
