@page
@model LoginWith2faModel
@using ESMS
@{
    ViewData["Title"] =Resource.twoStepAuthenticationTitle;
    Layout = "_LoginLayout";
}
    <div class="login-form">
        <h1>@ViewData["Title"]</h1>
        <hr />
        <p>@Resource.autentifikatorTitle</p>
        <div class="row">
            <div class="col-md-4">
                <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                    <input asp-for="RememberMe" type="hidden" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.TwoFactorCode"></label>
                        <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMachine">
                                <input asp-for="Input.RememberMachine" />
                                @Html.DisplayNameFor(m => m.Input.RememberMachine)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">@Resource.login</button>
                    </div>
                </form>
            </div>
        </div>
        <p>
            @Resource.donotHaveAccessTOTP
            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@Resource.loginRecoveryCodes</a>.
        </p>
</div>